<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>안녕하세요!!</h1>
    <h3>총 단어수: {{totalcount}}</h3>
    <p>{{injoon_text}}</p>
    <a href="{% url 'about' %}">To About</a>
    <a href="/about/">original to about</a>
    <form action="">
        <textarea name="injoon" id="" cols="30" rows="10"></textarea>
        <button type="submit">Submit</button>
    </form>
    <p>
        1. Github New Repository
        2. 해당 폴더 내에서 git init
        (무한 반복)
        3. git add .
        4. git commit -m "initial commit"
        <----- 보내는 주소 설정 (최초 1회) ------>
        5. git push origin master
        (무한 반복)

        이제 이거 안해도 됨
        보내는 주소 설정
        1. git remote add origin https://github.com/csy1204/studyproject.git
    </p>









</body>
</html>